.container {
	border: 1px solid black;
	padding: 10px;
	.content {
		width: 100%;
		order: 3;
	}
	.timeBlock {
		order: 2;
	}
	.weeksAndYearsBlock {
		flex-direction: column-reverse;
		order: 1;
	}
}
